<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='dark_theme.css')}}">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <title>Login</title>
</head>

<body class="body">


<h2><strong>Admin's portal</strong></h2>

<form method ="POST">
<input type="checkbox">
<p><a href="uitloggen">Log uit</a></p>



</body>
