/* I would not recomend reading this, you'll get a headache. It sure gave me one while making it... */

/* General site wide CSS */

.body{
    background-color: #c7bb9b;
    padding: 0%;
    margin: 0%;
} 


/* CSS for signup and login */

.signup-page{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.signup_box{
    display: flex;
    flex-direction: column;
}

#signup_title{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B1B1E;


    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 0.2px;
    color:#FFFFFF;

    height: 65px;
    width: 500px ;
}

.signup_form{
    display: flex;
    justify-content: center;
    align-items: center;

}

.signup_forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 5%;
    background-color: #8aa17f;
    height: 150%;
    width: 500px;
    padding-bottom: 5%;
    
}

#signupbutton{
    justify-content: center;
    align-items: center;
    padding: 5px;
    

    background: #1B1B1E;
    border-radius: 50px;
    width: 181px;
    height: 40px;

    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;

    border-style: none;
    
    color: #FFFFFF;
}

#form_name{

    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    border-style: none;
    
    color: #FFFFFF;
    padding-bottom: 10px;
}
.message {
    font-family: Consolas;
    font-style: normal;
    color: #FFFFFF;
}

#consent-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: #fff;
    transition: opacity 1s ease;
    overflow: hidden;
    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}


.hidden {
    opacity: 0;
}

#accept {
    float: right;
    margin-left: -50%;
    margin-top: 8px;
    background-color: black;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    transition-duration: 0.4s;
    font-family: Consolas;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}

#accept:hover {
    background-color: white;
    color: black;
}
    